<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xStore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <xStore.My.MySettings>
            <setting name="IsBeta" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAdmin" serializeAs="String">
                <value />
            </setting>
            <setting name="IsNewUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInstallCode" serializeAs="String">
                <value />
            </setting>
            <setting name="UserApplicationIDType" serializeAs="String">
                <value />
            </setting>
            <setting name="UserHardwareDeviceKey" serializeAs="String">
                <value />
            </setting>
        </xStore.My.MySettings>
    </userSettings>
</configuration>